html {
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

#menuBtn {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;

  padding: 0px;
  place-content: center;
  place-items: center;

  height: 3rem;
  width: 3rem;
  border: none;

  border-bottom-left-radius: 1rem;
  transition-property: border-radius, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
#menuBtn.focusActive {
  border-bottom-left-radius: 0px;
}
#menuBtn #burgerMenuIcon {
  position: relative;
  display: flex;
  flex-flow: column;
  place-content: center;
  width: 50%;
  height: 40%;
  transition: transform 200ms ease-in-out;
}
#menuBtn #burgerMenuIcon * {
  position: absolute;
  width: 100%;
  height: 20%;
  transition: transform 500ms cubic-bezier(0.5, -0.5, 0.2, 1);
}
#menuBtn #burgerMenu0 {
  transform: translateY(-200%);
}
#menuBtn #burgerMenu2 {
  transform: translateY(200%);
}
#menuBtn.focusActive #burgerMenu0 {
  transform: translateY(0%) rotate(225deg);
}
#menuBtn.focusActive #burgerMenu1 {
  transform: translateY(0%) rotate(405deg);
}
#menuBtn.focusActive #burgerMenu2 {
  transform: translateY(0%) rotate(135deg);
}
#menuBtn:hover {
  cursor: pointer;
}
#menuBtn:hover #burgerMenuIcon,
#menuBtn:focus-visible #burgerMenuIcon {
  transform: scale(1.2);
}

#mediaLinks {
  position: fixed;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  display: flex;

  justify-content: center;
  align-content: center;
  align-items: center;

  width: min-content;
  height: 3rem;

  gap: 1rem;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}
#mediaLinks a {
  transition: transform 200ms ease-in-out;
}
#mediaLinks a:hover {
  transform: scale(1.2);
}
#mediaLinks a:active {
  transform: scale(1.1);
}
#mediaLinks a * {
  fill: #fff;
  width: 1.5rem;
  height: 1.5rem;
}

footer {
  height: 150px;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 1rem;

  font-size: larger;
}
footer * {
  padding: 0.5rem 1rem;
}

h1 {
  text-align: center;
  height: min-content;
  font-size: 6rem;
  font-weight: bolder;
}
h2 {
  text-align: left;
  height: min-content;
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
  padding: 2rem 0px;
}

a,
.linkBlock button {
  padding: 0px;
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
}
a:hover,
a:focus-visible,
.linkBlock button:hover,
.linkBlock button:focus-visible {
  cursor: pointer;
}

.hide {
  display: none !important;
}

#title {
  min-height: 30vh;
  height: min-content;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

#wrapper {
  display: flex;
}
#topScrWrapper {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  height: 100vh;
}

#menu {
  flex: 1;
}

#contents {
  min-width: min-content;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  height: 100vh;
}

#contents ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  height: 100%;
  overflow-y: auto;
}
#contents li {
  position: relative;
}
#contents li::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 100%;
  top: 0px;
  right: 0px;
}
#contents a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 4rem;
  padding: 0px 2rem;
}

#topScroller {
  position: absolute;
  bottom: 3rem;
  right: 1.5rem;

  height: 3rem;
  width: 3rem;
  border-radius: 100%;

  display: flex;
  place-items: center;
  place-content: center;

  transition: transform 200ms ease-in-out;
}
#topScroller:hover,
#topScroller:focus-visible {
  transform: scale(1.2);
}
#topScroller:active {
  transform: scale(1.1);
}
#topScroller i {
  font-weight: bolder;
  font-size: 1.5rem;
}

#site {
  flex: 4;
  padding: 0px;
}
#site > section {
  margin: 0px;
  padding: 0.5rem 6rem 4rem 2rem;
}
#site > :last-child {
  min-height: 100vh;
}

#about li {
  padding-bottom: 0.6em;
}

#satzungFlex {
  padding-top: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
}
#satzungFlex a {
  display: flex;
  flex-flow: column;
  width: max-content;
  place-items: center;
  text-align: center;
}

.linkBlock {
  padding-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  justify-items: center;
  grid-gap: 3rem;
  flex-wrap: wrap;
}
.linkBlock a,
.linkBlock button {
  display: flex;
  flex-flow: column;
  width: min-content;
  place-items: center;
  text-align: center;
}
.linkBlock h3,
#satzungFlex h3 {
  font-size: 1.8rem;
}
.linkBlock a img,
.linkBlock button img,
#satzungFlex a img {
  border-radius: 0.5rem;
  transition: transform 200ms ease-in-out;
}
.linkBlock a:hover img,
.linkBlock button:hover img,
#satzungFlex a:hover img,
.linkBlock a:focus-visible img,
.linkBlock button:focus-visible img,
#satzungFlex a:focus-visible img {
  transform: scale(1.2);
}
.linkBlock a:active img,
.linkBlock button:active img,
#satzungFlex a:active img {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .condOffscreen {
    transform: translateX(100%);
  }
  .condHide {
    display: none !important;
  }

  #menuBtn {
    display: flex;
  }

  #menu {
    position: fixed;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    top: 3rem;
    right: 0px;
    width: 15rem;
    max-height: calc(100vh - 3.5rem);
    border-radius: 1rem 0px 0px 1rem;
    overflow: auto;

    transition: transform 200ms ease-in-out;
  }

  #mediaLinks {
    position: static;
    height: 5rem;
    width: 100%;
  }
  #contents {
    height: min-content;
    width: 100%;
  }
  #contents li::after {
    right: unset;
    left: 0px;
  }
  #contents button {
    width: 100%;
    height: 4rem;
  }

  #contents a img {
    width: 3rem;
  }

  #topScrWrapper {
    display: none;
  }
  #site > section {
    padding-right: 2rem;
  }
  h1,
  h2 {
    font-size: 3rem;
  }
  footer {
    flex-flow: column;
  }
  #wrapper {
    display: block;
  }
}
@media (max-width: 400px) {
  h1,
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  .linkBlock h3 {
    font-size: 1.5rem;
  }
}
